/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/* /RESET */

body {
    background-color: #f6f8f9;

}
/* HEADER */
.header-block {
    height: 70px;
    background-color: white;
    line-height: 60px;
}

#title {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 5px;
}

#logo {
    vertical-align: middle;
    padding-left: 10px;
}
/* /HEADER */

/* CONTAINER MAIN BLOCK */
/* NAVIGATION BAR, BUTTONS */
.container {
    width: 75%;
    margin: 0 auto;
    background-color: white;
}

.navbar {
    margin-top: 30px; 
    background-color: white;
}

.buttons-block {
    padding: 20px 0 15px 40px;
}

.buttons {
    height: 35px;
    margin: 0 2px;
    padding: 0 10px;
    border-radius: 15%;
}

.task {
    background-color: #63abeb;
    color: white;
    border: 1px;
}

.section {
    border: 1px solid grey;
    color: grey;
}
/* /NAVIGATION BAR, BUTTONS */

/* LIST */
.main-block {
    margin-top: 10px;
    border-top: 5px solid #f6f8f9;
    padding: 20px 0 15px 45px;
}

span {
    display: inline-block;
    margin-right: 10px;
}

h2 {
    display: inline-block;
}

li {
    list-style-type: none;
    margin: 5px 0;
}

.father-list-item {
    margin-top: 20px;
}

.checkmark {
    color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 50%;
}

.cross {
    color: rgb(229, 23, 23);
    border: 1px solid rgb(229, 23, 23);
    border-radius: 50%;
}

.marker-list-item {
    margin-left: 10px;
    border-radius: 15%;
    color: white;
    padding: 5px 5px;
    font-size: 14px;
}

.editorial {
    background-color: #62a9e4;
}

.q1-goals {
    background-color: #9674dd;
}

.recruiting {
    background-color: #7bbeaa;
}

.mobile {
    background-color: #e6a24b;
}

.website {
    background-color: #c96a9f;
}

.sales {
    background-color: #b5c849;
}
/* /LIST */
/* /CONTAINER MAIN BLOCK */